// |--------------------------------------------------------------------------
// | Blocker
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .blocker
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin blocker-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.blocker {
  position: fixed;
  display: flex;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  justify-content: center;
  align-items: center;

  z-index: $zindex-modal-background;

  background-color: rgba(0, 0, 0, .85);
}

.blocker__modal {
  padding: $grid-gutter-width;

  max-width: 600px;

  border-radius: $border-radius-large;
  background-color: #fff;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
